<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="">
	<meta name="author" content="#">

	<title>Cotton Biology & Stress Biology</title>

	<!-- Bootstrap Core CSS -->
	<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">

	<!-- Custom CSS -->
	<link href="css/style.css" rel="stylesheet">
	<link rel="stylesheet" href="css/lightbox.css">

	<!-- Custom Fonts -->
	<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="css/simple-line-icons.css" rel="stylesheet">
	<!-- Owl Carousel Assets -->
	<link href="owl-carousel/owl.carousel.css" rel="stylesheet">
	<!-- <link href="owl-carousel/owl.theme.css" rel="stylesheet"> -->

	<!-- jQuery and Plugin-->
	<script src="js/jquery-3.2.1.min.js"></script>

	<script src="js/bootstrap.min.js"></script>

	<script src="js/timetable.js"></script>
	<link rel="stylesheet" href="css/timetable.css">
	<link rel="stylesheet" href="css/magnific-popup.css" >
	<script src="js/jquery.magnific-popup.js"></script>
	<!--<link rel="stylesheet" href="css/animate.css">-->
	<!-- cdnjs -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/video.js/6.3.3/video-js.css" rel="stylesheet">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/video.js/6.3.3/video.js"></script>
	<!--<script src="js/anime.min.js"></script>-->
	<!-- Animate.css -->

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
</head>


<body class="index-page">
<header class="main-header">
	<div style="z-index: -1; position: absolute;"><img src="images/henupc.jpeg"/></div>
	<!-- Static Header -->
	<div class="header-text" id='bg'>
		<div class="col-sm-6" style="padding-right: 80px;">
			<div align="right">
				<a href="index.html"><img src="images/henu3.png" class="img-responsive" alt=""></a>
				<p style="font-size: 45px;color: #30611f; margin-right: 66px;margin-top: 15px;"><b>HENU</b></p>

			</div>
		</div>
		<div class="col-sm-6 "style="margin-left: -18px">
			<div class="header-text-inner">
				<div align="left" style="font-size: 81px; line-height: 150px;">Cotton Biology <br/>&Stress Biology</div>

				<!--<a href="#" class="btn btn-primary btn-header1">Find Out More</a>-->
				<!--<a href="#" class="btn btn-primary btn-header2">View Demo</a>-->
			</div>
		</div>
	</div>
	<!-- /header-text -->

</header>
<!-- /Section: intro -->

<!-- /////////////////////////////////////////Content -->
<div id="page-content">

	<!-- ////////////Overview Main Nav -->
	<div class="no-gutter" id="overview-mainnav" data-anchor="main">
		<div class="col-sm-4 col-xs-6 nav-item" data-nav="featured">
			<div class="nav-item-inner">
				<div class="nav-item-image gradient-5" style="background-image: url('images/today.jpg')"></div>
				<h3 class="sub-title">01.</h3>
				<div class="nav-item-detail">
					<h2 class="title"><strong>Laboratories</strong> Today</h2>
					<p><strong>Lorem ipsum</strong> dolor sit amet, consectetur adipiscing elit. Aliquam viverra convallis auctor.</p>
				</div>
			</div>
		</div>
		<div class="col-sm-4 col-xs-6 nav-item" data-nav="slide">
			<div class="nav-item-inner">
				<div class="nav-item-image gradient-5" style="background-image: url('images/plant.jpg')"></div>
				<h3 class="sub-title">02.</h3>
				<div class="nav-item-detail">
					<h2 class="title"><strong>Scientific</strong> Research</h2>
					<p><strong>Lorem ipsum</strong> dolor sit amet, consectetur adipiscing elit. Aliquam viverra convallis auctor.</p>
				</div>
			</div>
		</div>
		<div class="col-sm-4 col-xs-6 nav-item" data-nav="team">
			<div class="nav-item-inner">
				<div class="nav-item-image gradient-5" style="background-image: url('images/plan.jpg')"></div>
				<h3 class="sub-title">03.</h3>
				<div class="nav-item-detail">
					<h2 class="title"><strong>Teaching </strong> Plan</h2>
					<p><strong>Lorem ipsum</strong> dolor sit amet, consectetur adipiscing elit. Aliquam viverra convallis auctor.</p>
				</div>
			</div>
		</div>
		<div class="col-sm-4 col-xs-6 nav-item" data-nav="video">
			<div class="nav-item-inner">
				<div class="nav-item-image gradient-5" style="background-image: url('images/video.jpeg')"></div>
				<h3 class="sub-title">04.</h3>
				<div class="nav-item-detail">
					<h2 class="title"><strong>Lab</strong> video</h2>
					<p><strong>Lorem ipsum</strong> dolor sit amet, consectetur adipiscing elit. Aliquam viverra convallis auctor.</p>
				</div>
			</div>
		</div>
		<div class="col-sm-4 col-xs-6 nav-item" data-nav="album">
			<div class="nav-item-inner">
				<div class="nav-item-image gradient-5" style="background-image: url('images/album.jpeg')"></div>
				<h3 class="sub-title">05.</h3>
				<div class="nav-item-detail">
					<h2 class="title"><strong>School </strong> album</h2>
					<p><strong>Lorem ipsum</strong> dolor sit amet, consectetur adipiscing elit. Aliquam viverra convallis auctor.</p>
				</div>
			</div>
		</div>
		<div class="col-sm-4 col-xs-6 nav-item" data-nav="about">
			<div class="nav-item-inner">
				<div class="nav-item-image gradient-5" style="background-image: url('images/about.jpg')"></div>
				<h3 class="sub-title">06.</h3>
				<div class="nav-item-detail">
					<h2 class="title"><strong>About</strong> Us</h2>
					<p><strong>Lorem ipsum</strong> dolor sit amet, consectetur adipiscing elit. Aliquam viverra convallis auctor.</p>
				</div>
			</div>
		</div>
	</div>

	<!-- ////////////Content Box 01 -->
	<section class="box-content box-1" id="box-featured" data-anchor="featured">
		<div class="flex-box no-gutter">
			<div class="col-md-8 f-right">
				<div class="flex-box no-gutter">
					<div class="col-sm-6">
						<div class="box-image" style="background-image: url('images/111pro.jpg');"></div>
					</div>
					<div class="col-sm-6">
						<div class="box-text light-style triangle-left">
							<div class="box-text-inner pd-large-lg pd-medium-md pd-small-xs">
								<div class="title m-bot30">
									<h3 class="h1">Your Title</h3>
								</div>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam viverra convallis auctor. Sed accumsan libero quis mi commodo et suscipit enim lacinia. Morbi rutrum vulputate est sed faucibus.consectetur adipiscing elit. Aliquam viverra convallis auctor. Sed accumsan libero quis mi commodo et suscipit enim lacinia.</p>
								<p>Dapibus neque. Mauris justo massa, semper sed tempor at, blandit sit amet eros.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="flex-box no-gutter">
					<div class="col-sm-6 f-right">
						<div class="box-image" style="background-image: url('images/zhongkeyuan.jpg');"></div>
					</div>
					<div class="col-sm-6">
						<div class="box-text light-style triangle-right">
							<div class="box-text-inner pd-large-lg pd-medium-md pd-small-xs">
								<div class="title m-bot30">
									<h3 class="h1">Your Title</h3>
								</div>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam viverra convallis auctor. Sed accumsan libero quis mi commodo et suscipit enim lacinia. Morbi rutrum vulputate est sed faucibus.consectetur adipiscing elit. Aliquam viverra convallis auctor. Sed accumsan libero quis mi commodo et suscipit enim lacinia.</p>
								<p>Dapibus neque. Mauris justo massa, semper sed tempor at, blandit sit amet eros.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="box-text dark-style">
					<div class="box-text-inner pd-exlarge-lg pd-medium-md pd-small-xs t-right">
						<div class="heading">
							<h2><span>Laboratories</span> <span>news</span></h2>
						</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vos autem cum perspicuis dubia debeatis illustrare, dubiis perspicua conamini tollere. Atque his de rebus et splendida est eorum et oratio.</p>
						<p>Sed eum qui audiebant, quoad poterant, defendebant sententiam suam. Hoc est non dividere, sed frangere. Facile est hoc.</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- ////////////Content Box 02 -->
	<section class="box-content box-2 box-style-0" id="box-slide" data-anchor="slide">
		<div class="flex-box no-gutter">
			<div class="col-sm-6">
				<div id="owl-slide" class="owl-carousel">
					<div class="item">
						<div class="box-image" style="background-image: url('images/timg.jpeg');"></div>
					</div>
					<div class="item">
						<div class="box-image" style="background-image: url('images/timg (1).jpeg');"></div>
					</div>
					<div class="item">
						<div class="box-image" style="background-image: url('images/timg.jpeg');"></div>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="box-text light-style triangle-left">
					<div class="box-text-inner pd-exlarge-lg pd-small-xs">
						<div class="heading">
							<h2><span>SCIENTIFIC</span> <span> RESEARCH</span> </h2>
						</div>
						<p>Aiming at the development frontier of international agricultural science and technology, combined with the needs of the state and the characteristics of Huang Huai Hai region, the laboratory has carried out the major basic theory and technology development research related to dry land agricultural production practice.</p>

						<div class="owl-controls m-top120">
							<div class="btn next next-b_2-slide"><i class="fa fa-arrow-left"></i></div>
							<div class="btn prev next-b_2-slide"><i class="fa fa-arrow-right"></i></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- ////////////Content Box 03 -->
	<section class="box-content box-3" id="box-leader" data-anchor="team">
		<div class="flex-box no-gutter">
			<div class="col-md-4">
				<div class="box-text dark-style">
					<div class="box-text-inner pd-exlarge-lg pd-medium-md pd-small-xs t-right">
						<div class="heading">
							<h2>Teaching plan</h2>
						</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vos autem cum perspicuis dubia debeatis illustrare, dubiis perspicua conamini tollere. Atque his de rebus et splendida est eorum et oratio.</p>
						<p>Sed eum qui audiebant, quoad poterant, defendebant sententiam suam. Hoc est non dividere, sed frangere. Facile est hoc.</p>
					</div>
				</div>
			</div>
			<div class="col-md-8">
				<div class="box-image" style="padding-top: 50px;" id="weekly-view">
					<div class="timetable-example">
						<div class="tiva-timetable" style="min-height: 780px;;background: #fff" data-source="json"></div>
					</div>
				</div>
				<!--<div class="box-image" style="background-image: url('images/business.png');background-position: 0 0;"></div>-->
			</div>

		</div>
	</section>
	<!-- ////////////Content Box 04 -->
	<section class="box-content box-4" id="box-map" data-anchor="video">
		<div class="">
			<div class="no-gutter">
				<div class="col-md-6" >
					<video id="my-player" class="video-js" style="height: 830px; width: 100%;" controls preload="auto" poster="//vjs.zencdn.net/v/oceans.png" data-setup='{}'>
						<source src="//vjs.zencdn.net/v/oceans.mp4" type="video/mp4"></source>
						<source src="//vjs.zencdn.net/v/oceans.webm" type="video/webm"></source>
						<source src="//vjs.zencdn.net/v/oceans.ogv" type="video/ogg"></source>
						<p class="vjs-no-js">
							To view this video please enable JavaScript, and consider upgrading to a web browser that
							<a href="http://videojs.com/html5-video-support/" target="_blank">
								supports HTML5 video
							</a>
						</p>
					</video>
				</div>
				<div class="col-md-6" style="height: 830px;">
					<div class="box-text light-style triangle-left">
						<div class="box-text-inner pd-exlarge-lg pd-small-xs"style="height: 930px;">
							<div class="heading">
								<h2><span>Lab</span> <span> Video</span> </h2>
							</div>
							<p>Aiming at the development frontier of international agricultural science and technology, combined with the needs of the state and the characteristics of Huang Huai Hai region, the laboratory has carried out the major basic theory and technology development research related to dry land agricultural production practice.</p>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>

	<!-- ////////////Content Box 05 -->
	<section class="box-content box-5" id="box-gallery" data-anchor="album">
		<div class="">
			<div class="no-gutter">
				<div class="col-lg-3 col-sm-6">
					<div class="portfolio-box zoom-effect">
						<img src="images/01.jpeg" class="img-responsive" alt="" style="min-height: 624px;min-width: 416px">
						<div class="portfolio-box-caption">
							<div class="portfolio-box-caption-content">
								<div class="project-name">
									Project Name
								</div>
								<div class="project-category">
									Category
								</div>
								<div class="project-social">
									<ul class="list-inline">
										<li>
											<a href="#"><i class="fa fa-link"></i></a>
										</li>
										<li>
											<a href="images/01.jpeg" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><i class="fa fa-search"></i></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6 nopadding">
					<div class="portfolio-box zoom-effect">
						<img src="images/02.jpeg" class="img-responsive" alt="" style="height: 624px;">
						<div class="portfolio-box-caption">
							<div class="portfolio-box-caption-content">
								<div class="project-name">
									Project Name
								</div>
								<div class="project-category">
									Category
								</div>
								<div class="project-social">
									<ul class="list-inline">
										<li>
											<a href="#"><i class="fa fa-link"></i></a>
										</li>
										<li>
											<a href="images/02.jpeg" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><i class="fa fa-search"></i></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6 nopadding">
					<div class="portfolio-box zoom-effect">
						<img src="images/03.jpeg" class="img-responsive" alt="" style="height: 624px;">
						<div class="portfolio-box-caption">
							<div class="portfolio-box-caption-content">
								<div class="project-name">
									Project Name
								</div>
								<div class="project-category">
									Category
								</div>
								<div class="project-social">
									<ul class="list-inline">
										<li>
											<a href="#"><i class="fa fa-link"></i></a>
										</li>
										<li>
											<a href="images/03.jpeg" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><i class="fa fa-search"></i></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6 nopadding">
					<div class="portfolio-box zoom-effect">
						<img src="images/08.jpeg" class="img-responsive" alt="" style="height: 624px;width: 100%">
						<div class="portfolio-box-caption">
							<div class="portfolio-box-caption-content">
								<div class="project-name">
									Project Name
								</div>
								<div class="project-category">
									Category
								</div>
								<div class="project-social">
									<ul class="list-inline">
										<li>
											<a href="#"><i class="fa fa-link"></i></a>
										</li>
										<li>
											<a href="images/08.jpeg" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><i class="fa fa-search"></i></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6 nopadding">
					<div class="portfolio-box zoom-effect">
						<img src="images/14.jpg" class="img-responsive" alt="">
						<div class="portfolio-box-caption">
							<div class="portfolio-box-caption-content">
								<div class="project-name">
									Project Name
								</div>
								<div class="project-category">
									Category
								</div>
								<div class="project-social">
									<ul class="list-inline">
										<li>
											<a href="#"><i class="fa fa-link"></i></a>
										</li>
										<li>
											<a href="images/14.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><i class="fa fa-search"></i></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6 nopadding">
					<div class="portfolio-box zoom-effect">
						<img src="images/05.jpeg" class="img-responsive" alt=""  style="max-height: 624px;width: 100%">
						<div class="portfolio-box-caption">
							<div class="portfolio-box-caption-content">
								<div class="project-name">
									Project Name
								</div>
								<div class="project-category">
									Category
								</div>
								<div class="project-social">
									<ul class="list-inline">
										<li>
											<a href="#"><i class="fa fa-link"></i></a>
										</li>
										<li>
											<a href="images/05.jpeg" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><i class="fa fa-search"></i></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6 nopadding">
					<div class="portfolio-box zoom-effect">
						<img src="images/16.jpg" class="img-responsive" alt="">
						<div class="portfolio-box-caption">
							<div class="portfolio-box-caption-content">
								<div class="project-name">
									Project Name
								</div>
								<div class="project-category">
									Category
								</div>
								<div class="project-social">
									<ul class="list-inline">
										<li>
											<a href="#"><i class="fa fa-link"></i></a>
										</li>
										<li>
											<a href="images/16.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><i class="fa fa-search"></i></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6 nopadding">
					<div class="portfolio-box zoom-effect">
						<img src="images/04.jpeg" class="img-responsive" alt="" style="min-height: 624px;width: 100%">
						<div class="portfolio-box-caption">
							<div class="portfolio-box-caption-content">
								<div class="project-name">
									Project Name
								</div>
								<div class="project-category">
									Category
								</div>
								<div class="project-social">
									<ul class="list-inline">
										<li>
											<a href="#"><i class="fa fa-link"></i></a>
										</li>
										<li>
											<a href="images/04.jpeg" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><i class="fa fa-search"></i></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- ////////////Content Box 05 -->

	<!-- ////////////Content Box 06 -->

	<div id="overview-aside-nav">
		<ul>
			<li data-nav="main">
				<b>main</b>
				<div></div>
			</li>
			<li data-nav="featured">
				<b>NEWS</b>
				<div></div>
			</li>
			<li data-nav="slide">
				<b>RESEARCH</b>
				<div></div>
			</li>
			<li data-nav="team">
				<b>PLAN</b>
				<div></div>
			</li>
			<li data-nav="video">
				<b>VIDEO</b>
				<div></div>
			</li>
			<li data-nav="ABLUM">
				<b>ABLUM</b>
				<div></div>
			</li>

		</ul>
	</div>

	<img src="images/backtop.png" alt="" id="b2top">

</div>
<footer id="footer" role="contentinfo" data-anchor="about">
	<link rel="stylesheet" href="css/foot.css" />
	<link rel="stylesheet" href="css/foot2.css" />
	<link rel="stylesheet" href="css/foot3.css" />
	<div class="gt_footer1_bg default_width">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-6">
					<div class="gt_foo_about gt_widget_hdg">
						<h5>Friend Link</h5>
						<ul>
							<li><a href="#">HENU</a></li>
							<li><a href="#">STANFORD</a></li>
							<li><a href="#">PERU</a></li>
							<li><a href="#">PKU</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="gt_foo_about gt_widget_hdg">
						<h5>Friend Link</h5>
						<ul>
							<li><a href="#">HENU</a></li>
							<li><a href="#">STANFORD</a></li>
							<li><a href="#">PERU</a></li>
							<li><a href="#">PKU</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="gt_foo_about gt_widget_hdg">
						<h5>Friend Link</h5>
						<ul>
							<li><a href="#">HENU</a></li>
							<li><a href="#">STANFORD</a></li>
							<li><a href="#">PERU</a></li>
							<li><a href="#">PKU</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="gt_foo_about gt_widget_hdg">
						<h5>Friend Link</h5>
						<ul>
							<li><a href="#">HENU</a></li>
							<li><a href="#">STANFORD</a></li>
							<li><a href="#">PERU</a></li>
							<li><a href="#">PKU</a></li>
						</ul>
					</div>
				</div>
			</div>

			<!--Footer Contact Wrap Start-->
			<div class="gt_foo_contact_wrap">
				<div class="row">
					<div class="col-md-4 col-sm-6">
						<div class="gt_foo_contact_des">
							<i class="icon-phone"></i>
							<div class="gt_foo_icon_des">
								<h5>0371—22868833</h5>
								<span>Mon - fri 9am to 5pm </span>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="gt_foo_contact_des">
							<i class="icon-tool"></i>
							<div class="gt_foo_icon_des">
								<h5>info@henu.com</h5>
								<span>Online information </span>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="gt_foo_contact_des">
							<i class="icon-pin"></i>
							<div class="gt_foo_icon_des">
								<h5>China</h5>
								<span>Kai Feng </span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--Footer Contact Wrap End-->
		</div>
	</div>
</footer>
<!-- Footer -->

<!-- JS -->
<script src="js/lightbox-plus-jquery.min.js"></script>
<script src="js/plugin.js"></script>
<script src="js/main.js"></script>

<!-- carousel -->
<script src="owl-carousel/owl.carousel.js"></script>
<script>
    $(document).ready(function() {
        var b2_box = $("#owl-slide");

        b2_box.owlCarousel({
            autoPlay: false,
            items: 1,
            itemsDesktop: [1199, 1],
            itemsDesktopSmall: [979, 1],
            itemsTablet: [768, 1],
            itemsMobile: [479, 1],
            pagination: false
        });

        // Custom Navigation Events 1
        $(".next-b_2-slide").click(function() {
            b2_box.trigger('owl.next');
        });
        $(".prev-b_2-slide").click(function() {
            b2_box.trigger('owl.prev');
        });

    });
</script>
</body>

</html>
<script>
    $(document).ready(function() {
        $("#bg").css("height",$(window).height())
    })

</script>